.done {
	font-size: 120%;
	padding: 0 1em;
}

.done > a {
	.text-decoration: none;
}

.done .done-highlight, .done.done-highlight:hover {
	color: #99CCFF;
}

.done .done-normal, .done.done-normal:hover {
	color: #0099CC;
}

.container {
	width: 400px;
	margin-top: -30px;
	padding-right: 15px;
}

.form-control {
	width: 42%;
	font-size: 1em;
	float: left;
	padding-right: 1em;
}

#add {
	width: 15%;
	font-size: 1em;
	float: left;
	color: white;
	background-color: #66CCCC;
}

#taskform, #detailform, #addbtn {
	margin-top: -30px;
}

#dbtn {
	font-size: 1.2em;
	border: none;
	background: none;
}

#menu, #pgs{
	float: left;
}

th {
	margin-top: 20px;
	color: #66CCCC;
}

body {
	font-family: "Century Gothic", Helvetica, sans-serif;
	font-size: 1.2em;
}

h3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
