.done {
	font-size: 120%;
	padding: 0 1em;
}

.done > a {
	.text-decoration: none;
}

.done .done-highlight, .done.done-highlight:hover {
	color: #99CCFF;
}

.done .done-normal, .done.done-normal:hover {
	color: #66CCCC;
}

.form-control {
	width: 110%;
}

.container {
	width: 500px;
}

#taskform {
	float: left;
}

#detailform {
	float: left;
}

#addbtn {
	float: left;
}

#date {
	color: #66CCCC;
}